/*
 * 用于复写全局的样式
 * @Author: 欧贺福
 * @Date: 2018-03-28 18:22:28
 * @Last Modified by: 欧贺福
 * @Last Modified time: 2018-05-03 12:42:59
 */

.el-header {
  padding-left: 0;
  padding-right: 0;
  background-color: rgb(43, 60, 90);
}

.el-aside {
  width: 150px !important;
}

.el-carousel__item--card {
  width: 60%;
}

.el-collapse-item__header {
  font-size: 18px;
  font-weight: 500;
}

.el-collapse {
  padding-left: 10px;
  padding-right: 10px;
  background: #ffffff;
}

.el-footer {
  background-color: rgb(43, 60, 90);
}

.el-pagination {
  text-align: center;
}
